/* -- LOADING ANIMATIONS -- */
/* Loader one: Pulse */
.loader.one {
	width: 100px;
	height: 100px;
}

.loader.one .circle {
	height: 100px;
	width: 100px;
	background: #E427F9;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50px;
	animation: pulse 2s infinite;
}

@keyframes pulse {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0; 
    }
}

.loader.one .circle:nth-child(2) {
    animation-delay: 0.5s; 
}

/* Loader two: Wave */
.loader.two {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 110px;
}

.loader.two .dot {
	height: 30px;
	width: 30px;
	background: #000;
	border-radius: 15px;
	background: #F76A4D;
	animation: wave 1.5s infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.loader.two .dot:nth-child(2) {
    animation-delay: 0.25s; 
    background: #4DB1F7; 
}

.loader.two .dot:nth-child(3) {
    animation-delay: 0.5s; 
    background: #7DE76A;
}

/* Loader three: Flip */
.loader.three .flip-tile {
    height: 100px;
    width: 100px;
    background-color: #F98527;
}

@keyframes flip {
    0% {
        transform: perspective(300px);
    }
    50% {
        transform: perspective(300px) rotateY(180deg);
    }
    100% {
        transform: perspective(300px) rotateY(180deg) rotateX(180deg);
    }
}

.loader.three .flip-tile {
    animation: flip 2.6s infinite; 
}

/* Loader four: Spin */
.loader.four .rings {
	position: relative;
	width: 100px;
	height: 100px;
}

.loader.four .ring {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.loader.four .ring.two {
	width: 80%;
	height: 80%;
}

.loader.four .ring.three {
	width: 60%;
	height: 60%;
}

.loader.four .ring .mask {
	width: 93%;
	height: 93%;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: #E5F1F7;
}

.loader.four .ring .arc-container {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	overflow: hidden;
	transform-origin: 50% 50%;
	animation: spin 1.5s linear infinite;
}

.loader.four .ring.one .arc-container {
    animation-delay: 0;
}

.loader.four .ring.two .arc-container {
    animation-delay: 0.2s; 
}

.loader.four .ring.three .arc-container {
    animation-delay: 0.1s; 
}

.loader.four .ring .arc {
	width: 100%;
	height: 50%;
	position: absolute;
	background: #10D4C6;
}

.loader.four .ring.one .arc {
    background: #10D4C6; 
}

.loader.four .ring.two .arc {
    background: #3068CD; 
}

.loader.four .ring.three .arc {
    background: #7910D4; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
